<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          

    <!-- Topbar Navbar -->
    <ul class="navbar-nav ml-auto">

      <!-- Nav Item - Search Dropdown (Visible Only XS) -->
      

      
      <!-- Nav Item - User Information -->
      <li>
        <!-- <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> -->
          <a class="nav-link" *ngIf="loginservice.isUserLoggedIn()" routerLink="/logout">
          <span class="mr-2 d-none d-lg-inline text-gray-600 small">Logout</span>
          <img class="img-profile rounded-circle" src="https://source.unsplash.com/QAB-WJcbgJk/60x60">
        </a>
        <!-- Dropdown - User Information -->
        
      </li>

    </ul>

  </nav>

